.card-login-info {
    margin: 1%;
    padding: 2%;
    background-color: #3961ab;
    border-radius: 12px;
}
h6.login-info-text {
    font-weight: 300;
    font-size: 12px;
}
h4.login-info-header {
    font-weight: 400;
    font-size: 16px;
}
@media (max-width: 768px) {
    .card-login-info {
        margin: 1% 0 3% 0;
        padding: 3%;
    }
    h4.login-info-header {
        font-size: 12px;
    }
    h6.login-info-text {
        font-size: 10px;
    }
}
/*hide the mostrar from data tables*/
.dataTables_length {
    float: right;
}

.dataTables_filter {
    float: right;
    text-align: center;
    margin: 0 20px 0 0;
}

.plus {
    display: none;
}

.sort {
    vertical-align: middle;
    font-size: 18px;
    display: inline;
    float: right;
    cursor: pointer;
}

.thead-color {
    background-color: #3961ab;
}

.text-primary {
    color: white !important;
}

.table thead tr th {
    font-size: 14px !important;
}

.odd {
    background-color: white; !important;
}

.even {
    background-color: #e6e6e6 !important;
}

.buttons-pdf:hover {
    background-color: #bf0e0e !important;
    color: white !important;
}

.buttons-csv:hover {
    background-color: green !important;
    color: white !important;
}

.btn-adjust {
    padding: 5px !important;
    font-size: 12px !important;
}

.action-row {
    text-align: right;
}

.background-video {
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-head-color {
    background: linear-gradient(60deg, #1bb1b2, #0c385a) !important;
}

@media (max-width: 500px) {
    .dataTables_filter {
        float: left;
        width: 40%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
    .dataTables_length {
        float: right;
        width: 40%;
        text-align: center;
        margin: 10px 0 10px 0;
    }
    .plus {
        vertical-align: top;
        font-size: 21px;
        color: green;
        display: inline;
        cursor: pointer;
    }
    .btn-group>.btn:first-child {
        margin: 5px auto !important;
    }
    .btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child)>.btn {
        margin: auto !important;
    }
    .sort {
        display: none;
    }
    .background-video {
        height: unset;
        width: unset;
        max-height: -webkit-fill-available;
    }
    .charts-list-scroll {
        margin-bottom: 15px;
    }
}

.icons-charts-list {
    vertical-align: sub;
    font-size: 20px !important;
}

.charts-list-scroll {
    overflow: auto;
    max-height: 35vh;
}

.charts-table {
    table-layout: auto;
    width: inherit;
}

.form-check .form-check-input {
    opacity: 0 !important;
    height: 10px !important;
    width: 10px !important;
    overflow: hidden !important;
    position: inherit !important;
    pointer-events: fill !important;
    left: 20px !important;
    z-index: unset !important;
}

.sponsors-active {
    display: block !important;
}

.sponsor-nav[data-background-color="black"] .nav .nav-item .nav-link {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .nav .nav-item i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="black"] .nav .nav-item.active [data-toggle="collapse"],
.sponsor-nav[data-background-color="black"] .nav .nav-item:hover [data-toggle="collapse"] {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .nav .nav-item.active [data-toggle="collapse"] i,
.sponsor-nav[data-background-color="black"] .nav .nav-item:hover [data-toggle="collapse"] i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="black"] .user a {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .simple-text {
    color: #fff;
}

.sponsor-nav[data-background-color="black"] .sponsor-nav-background:after {
    background: #000;
    opacity: .8;
}

.sponsor-nav[data-background-color="black"] .nav li .dropdown-menu .dropdown-item {
    color: #fff;
}

.sponsor-nav[data-color="purple"] li.active>a {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.sponsor-nav[data-color="azure"] li.active>a {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.sponsor-nav[data-color="green"] li.active>a {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.sponsor-nav[data-color="orange"] li.active>a {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.sponsor-nav[data-color="danger"] li.active>a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.sponsor-nav[data-color="rose"] li.active>a {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.sponsor-nav[data-color="white"] li.active>a {
    background-color: #fff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}

.sponsor-nav[data-color="white"] .nav .nav-item.active>a:not([data-toggle="collapse"]) {
    color: #3C4858;
    opacity: 1;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
}

.sponsor-nav[data-color="white"] .nav .nav-item.active>a:not([data-toggle="collapse"]) i {
    color: rgba(60, 72, 88, 0.8);
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item .nav-link {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item.active [data-toggle="collapse"],
.sponsor-nav[data-background-color="blue"] .nav .nav-item:hover [data-toggle="collapse"] {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .nav .nav-item.active [data-toggle="collapse"] i,
.sponsor-nav[data-background-color="blue"] .nav .nav-item:hover [data-toggle="collapse"] i {
    color: rgba(255, 255, 255, 0.8);
}

.sponsor-nav[data-background-color="blue"] .user a {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .simple-text {
    color: #fff;
}

.sponsor-nav[data-background-color="blue"] .sponsor-nav-background:after {
    background: #0c385a;
    opacity: .8;
}

.sponsor-nav[data-background-color="blue"] .user:after,
.sponsor-nav[data-background-color="blue"] .logo:after,
.sponsor-nav[data-background-color="blue"] .nav li.separator:after {
    background-color: rgba(255, 255, 255, 0.3);
}

.sponsor-nav[data-background-color="red"] .nav li:hover:not(.active)>a,
.sponsor-nav[data-background-color="red"] .nav li.active>[data-toggle="collapse"] {
    background-color: rgba(255, 255, 255, 0.1);
}

.sponsor-nav[data-image]:after,
.sponsor-nav.has-image:after {
    opacity: .77;
}

.off-canvas-sponsor-nav .navbar-collapse .nav>li>a,
.off-canvas-sponsor-nav .navbar-collapse .nav>li>a:hover {
    color: #fff;
    margin: 0 15px;
}

.sponsor-nav[data-image]:after,
.sponsor-nav.has-image:after {
    opacity: .77;
}

#clients_body .buttons-pdf {
    display: none;
}

#clients_body .buttons-csv {
    display: none;
}

.btn-ficein {
    background-color: #3961ab;
}

.bg-ficein {
    background-color: #3961ab;
}

.ficein-color {
    color: #486cb1 !important;
}

.own-category {
    font-size: 12px;
    margin: 0 !important;
    line-height: 15px;
    top: -22px !important;
    left: 6px !important;
}

.message-box {
    border-radius: 10px;
    padding: 1% 3% 1.5% 3%;
}

.own-card-title {
    margin-bottom: 0.30rem;
}

.btn-action {
    width: 120px;
    padding: 6% 4% 6% 4%;
    border-radius: 6px;
}

.buttons-pdf {
    background-color: #3961ab !important;
    color: white !important;
    margin-right: 2% !important;
    border-radius: 6px !important;
}

.buttons-csv {
    background-color: #3961ab !important;
    color: white !important;
    margin-left: 2% !important;
    border-radius: 6px !important;
}

.own-card {
    color: black !important;
    box-shadow: unset !important;
}

.dataTables_info {
    font-weight: 400 !important;
    font-size: 12px;
}

.previous, .next .page-link {
    color: #1eadf2 !important;
}

.page-item.disabled .page-link {
    color: black !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #3961ab !important;
    border-color: #3961ab !important;
    border-radius: 10px !important;
}

.own-form {
    background-color: white !important;
    border-radius: 12px !important;
    padding: 1% !important;
}

.own-form-2 {
    background-color: whitesmoke !important;
    border-radius: 12px !important;
    border: solid !important;
    border-width: 0.5px !important;
    border-color: #d8d8d8 !important;
    padding: 2% !important;
}

.own-label {
    top: -18px !important;
    left: 6px !important;
}

.adjust-form-row {
    margin-top: 2%;
}



table {
    border: solid;
    border-width: 1.5px !important;
    border-color: #3961ab !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 500px) {
    .hide-logo-login {
        display: none;
    }
    .full-login {
        width: 100% !important;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .full-radius {
        border-radius: 10px !important;
    }
    .btn-action {
        width: 120px;
        padding: 3% 2% 3% 2%;
        border-radius: 6px;
    }
    .buttons-pdf {
        border-radius: unset !important;
    }

    .buttons-csv {
        border-radius: unset !important;
    }
}

.table-responsive input[type="search"] {
     background-color: white !important;
     border-radius: 12px !important;
     padding: 4% !important;
     border: solid;
     border-width: 1px;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 }

.table-responsive select {
    background-color: white !important;
    border-radius: 12px !important;
    padding: 4% !important;
    border: solid;
    border-width: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    display: block;
    width: 100px;
    text-align: center;
}

.dataTables_length {
    text-align: center !important;
}
